<a href="https://colab.research.google.com/github/Scarlethernan28/Hernandez/blob/master/Tarea_progra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ejercicios Practicas en Python

In [6]:
"Calcular el valor a pagar según el número de metros consumidos de agua potable"(Ver tabla en la siguiente diapositiva).(20%)

SyntaxError: ignored

In [3]:
precio = 10

In [7]:
metros = int(input("Digite la cantidad de metros consmidos: "))
if(metros<18):
  print("Total por pagar: ", precio)
elif(metros<28):
    print("Total por pagar: ", 3.15 + precio)
elif(metros<40):
  print("Total por pagar: ", 11 + precio)
else:
  print("Máximo de metros a consumir es 120")

Digite la cantidad de metros consmidos: 15
Total por pagar:  10

In [ ]:
Conversoreses: (40%) (10 ítems como mínimo por cada uno) • Monedas (Resuelto en clases) • Longitud • Masa • Almacenamiento • Tiempo • Volumen • Área • Meses •Años •Dias

In [ ]:

#Conversor de Divisas... Dolares, Quetzalez, Lempiras, Cordobas, Pesos CR, Euros, Colon SV, Yenes, Soles Peruanos
divisas = ["Seleccione una divisa", "Dolares", 
           "Quetzalez", "Lempiras", "Cordobas", 
           "Pesos CR", "Euros", "Colon SV", 
           "Yenes", "Soles Peruanos"
]
valores = [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84]

In [ ]:
def convertir(de, a, cantidad):
  return valores[a] / valores[de] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Dolares")
print("2. Quetzalez")
print("3. Lempiras")
print("4. Cordobas")
print("5. Pesos CR")
print("6. Euros")
print("7. Colon SV")
print("8. Yenes")
print("9. Soles Peruanos")

*** MENU ***
SELECCIONE UNA DIVISA
1. Dolares
2. Quetzalez
3. Lempiras
4. Cordobas
5. Pesos CR
6. Euros
7. Colon SV
8. Yenes
9. Soles Peruanos

In [ ]:
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( divisas[de],  " a ", divisas[a], " es: ", convertir(de, a, cantidad) )

DE: 5
A: 2
Cantidad: 10
tebibit  a  Mebibit  es:  1.1534025374855827e-05

In [ ]:
#Longitud

In [ ]:
divisas = ["Seleccione una divisa", "metro", 
           "kilometro", "centimetros", "milimetro", 
           "yarda", "pie", "pulgadas", 
           "milla", "Milla nautica", 'nanometro',
]
valores = [0,1, 0.001, 100, 1000, 1.09361, 3.28084, 39.3701, 0.000621371,0.000539957,1e+9 ]

In [ ]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. metro")
print("2. Kilometro")
print("3. centimetros")
print("4. Milimetro")
print("5. Yarda")
print("6. Pie")
print("7. pulgada")
print("8. Milla")
print("9. Milla nautica")

*** MENU ***
SELECCIONE UNA DIVISA
1. metro
2. Kilometro
3. centimetros
4. Milimetro
5. Yarda
6. Pie
7. pulgada
8. Milla
9. Milla nautica

In [ ]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 1
A: 2
Cantidad: 12
metro  a  kilometro  es:  0.012

In [ ]:
#Masa

In [ ]:
divisas = ["Seleccione una divisa", "Tonelada", 
           "Kilogramo", "Gramo", "Miligramo", 
           "Microgramo", "Tonelada larga", "Tonela corta", 
           "Libra", 'Onza',

]
valores = [0,1, 1000, 1e+6, 1e+9, 1e+12, 0.984207,  157.473, 2204.62, 35274 ]

In [ ]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Tonelada")
print("2. Kilogramo")
print("3. Gramo")
print("4. Miligramo")
print("5. Micrograma")
print("6. Tonelada larga")
print("7. Tonelada corta")
print("9. Libra")
print("10. Onza")

*** MENU ***
SELECCIONE UNA DIVISA
1. Tonelada
2. Kilogramo
3. Gramo
4. Miligramo
5. Micrograma
6. Tonelada larga
7. Tonelada corta
9. Libra
10. Onza

In [ ]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 2
A: 4
Cantidad: 10
Kilogramo  a  Miligramo  es:  10000000.0

In [ ]:
#Almacenamiento

In [ ]:
divisas = ["Seleccione una divisa", " Terabit", 
           "Mebibit", "Gibibit", "Gigabit", 
           "tebibit", "Petabyte", "Mebibyte", 
           "Megabyte", "Gigabyte", 'Terabyte',
]
valores = [0,1, 953700, 931.3, 1000, 1.1, 8000, 119200, 125000,125,0.125 ]

In [ ]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Terabit")
print("2. Mebibit")
print("3. Gibibit")
print("4. Gigabit")
print("5. Tebibit")
print("6. Petabyte")
print("7. Mebibyte")
print("8. Megabyte")
print("9. Gygabyte")
print("10.Terabyte")

*** MENU ***
SELECCIONE UNA DIVISA
1. Terabit
2. Mebibit
3. Gibibit
4. Gigabit
5. Tebibit
6. Petabyte
7. Mebibyte
8. Megabyte
9. Gygabyte
10.Terabyte

In [ ]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 4
A: 6
Cantidad: 10
Gigabit  a  Petabyte  es:  80.0

In [ ]:
unidadesC = [
    [1.00,8.75,7.77, 24.03,34.8,611.10,0.82,19.93,105.00,5.39],                                               #monedas //0
    [1.0, 100.0,39.37,3.28,0.001,1.093613,0.000621,0.836,0.0001,1.000],                                       #longitud //1
    [1.0,16.00,0.453592,4.535924,453.5924,45.35924,4535.924,45359.24,453592.4,0.0005],                        #masa //2
    [1.0,0.68,7.629395,8.0,976.5625,0.953674,0.008,0.001,0.000008,0.000001],                                  #almacenamiento //3
    [1.0,60.0,3600.0,3600000.0,3600000000.0,0.041667,0.005952,0.000114,1.14155e-5,1.14155e-6],                #tiempo //4
    [1.0,33.8,274.15],                                                                                        #temperatura //5
    [1.0,0.333333,0.166667,0.0200833,0.005208,0.001302,0.004929,4.928922,4.928922,0.000005],                  #volumen //6
    [1.0,0.111111,0.000000035870064,144.0,0.00000009290304,0.000009,0.092903,929.0304,92903.04,0.000024],     #area //7
]

In [ ]:
nombresC = [
    ['Dolar', "ColonSv", "Quetzal", "Lempira", "Cordoba", "Colon(CR)", "Euro",                  #monedas//0
     "Peso(Mx)", "Yen(Jp)", "Real(Br)"],                                                        
    ["Metro", "Centimetro", "Pulgada", "Pie", "Kilonetro", "Yarda", "Milla",                     #longitud//1
     "Vara", "Hectarea", "Milimetro"],
    ["Libra", "Onza", "Kilogramo", "Hectogramo", "Gramo", "Decagramo", "Decigramo",              #masa//2
     "Centigramo", "Miligramo", "Tonelada Corta(USA)"],
    ["Megabytes", "Diskettes", "Mebibits", "bits", "Kibibytes", "Mebibytes",                     #almacenamiento//3
     "Gigabits", "Gigabytes", "Terabits", "Terabytes"],
    ["Hora", "Minutos", "Segundos", "Milisegundos", "Microsegundos", "Días",                     #tiempo//4
     "Semana", "Años", "Decada", "Siglo"],
    ["Celsius", "Fahrenheit", "Kelvin"],                                                         #temperatura//5
    ["Cucharaditas", "Cuchardas", "Onzas Líquidas", "Tazas", "Cuartos de Galón",                 #volumen//6
     "Galones", "Litros", "Mililitros", "Centímetros Cúbicos", "Metros Cúbicos"],                #area//7
    ["Pies Cuadrados", "Yardas Cuadradas", "Milla Cuadradas", "Pulgadas Cuadradas",
     "Kilómetros Cuadradas", "Hectáreas", "Metros Cuadrados", "Centímetros Cuadrados",
     "Milímetros Cuadrados", "Acres"]
]

In [ ]:
#@title
def convertir(de, a, cantidad, u):
  return unidadesC[u][a] / unidadesC[u][de] * cantidad

In [ ]:
def datos (con):
  if con != 5:
    de = int(input("de: ")) 
    a = int(input("a: "))
    cantidad = float(input("Cantidad: "))
    return print(cantidad, nombresC[con][de],'es: ', convertir(de,a,cantidad,con), nombresC[con][a]) 

  else:
    de = int(input("de: "))
    a = int(input("a: "))
    cantidad = float(input("Cantidad: "))
    return print(cantidad, nombresC[con][de], 'es: ',temperatura(de,a,cantidad,a),nombresC[con][a])

In [ ]:
def menu(i, con):
  if con != 5:    
    while(i<=9):
      print(i, "- ",nombresC[con][i],"\n")
      i+=1
  else:
    while(i<=2):
      print(i,"- ",nombresC[con][i],"\n")
      i+=1

In [ ]:
from contextlib import nullcontext
def datosT ():
  de = int(input("de: "))
  a = int(input("a: "))
  cantidad = float(input("Cantidad: "))
  return print(cantidad, nombresC[con][de], 'es: ',temperatura(de,a,cantidad,a),nombresC[con][a])

In [ ]:
def temperatura (de, a, cantidad, temp):

  if de == 0 and a == 1:
    temp = (cantidad * 9 / 5) + 32

  elif de == 0 and a == 2:
    temp = (cantidad + 273.15)

  elif de == 1 and a == 0:
    temp = (cantidad - 32) * 5 / 9
  
  elif de == 1 and a == 2:
    temp = ( cantidad - 32) * 5 / 9 + 273.15

  elif de == 2 and a == 0:
    temp = ( cantidad - 273.15)

  elif de ==2 and a == 1:
    temp = ( cantidad - 273.15) * 9 / 5 + 32
  
  return temp

In [ ]:
print("Seleccione que tipo de conversor")
print("0- Monedas")
print("1- Longitud")
print("2- Masa")
print("3- Almacenamiento")
print("4- Tiempo")
print("5- Temperatura")
print("6- Volumen")
print("7- Area")

Seleccione que tipo de conversor
0- Monedas
1- Longitud
2- Masa
3- Almacenamiento
4- Tiempo
5- Temperatura
6- Volumen
7- Area

In [ ]:
i = 0
con = int(input("Ingrese seleccion: "))
if con==0:
  menu(i,con)
  datos(con)

elif con==1:
  menu(i,con)
  datos(con)

elif con==2:
  menu(i,con)  
  datos(con)

elif con==3:
  menu(i,con)
  datos(con)

elif con==4:
  menu(i,con)
  datos(con)

elif con==5:
  menu(i,con)
  datos(con)

elif con==6:
  menu(i,con)
  datos(con)

elif con==7:
  menu(i,con)
  datos(con)

Ingrese seleccion: 7
0 -  Pies Cuadrados

1 -  Yardas Cuadradas

2 -  Milla Cuadradas

3 -  Pulgadas Cuadradas

4 -  Kilómetros Cuadradas

5 -  Hectáreas

6 -  Metros Cuadrados

7 -  Centímetros Cuadrados

8 -  Milímetros Cuadrados

9 -  Acres

de: 4
a: 7
Cantidad: 10
10.0 Kilómetros Cuadradas es:  100000000000.0 Centímetros Cuadrados

In [ ]:
def precios (m3, precio):
  exc1, exc2 = 18, 28
  val1, val2 = 0.45, 0.65
  cumi = 6.00
  valexc1 = 4.50

  if m3 >= 1 and m3 <= 18:
    precio = cumi
  
  elif m3 >=19 and m3 <= 28:
    precio = ((m3 - exc1) * val1) + cumi

  elif m3 >=29:
    precio = ((m3 - exc2) * val2) + valexc1 + cumi

  return precio

In [ ]:
m3 = float(input("Ingrese la cantidad de metros cubicos: "))

print("su total a pagar es: ", precios(m3,m3), " dolares.")

Ingrese la cantidad de metros cubicos: 5
su total a pagar es:  6.0  dolares.

In [ ]:
#Conversor de tiempo